body{
  margin:0;
  padding:0;
  background-color: #EEEEEE;
}
.container{
  width: 1170px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}
.card{
  text-align: center;
  background-color: #EEEEEE;
  display: flex;
}
.card img{
  position: relative;
  bottom: -30px;
  left:-15px;
  z-index: 99;
}
.card .our-project{
  padding: 20px;
  width: 440px;
  height: 310px;
  margin-left: 28%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.card .our-project::after{
  content: 'A+';
  display: block;
  position: absolute;
  right: 20px;
  bottom: -15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: #3B74BA;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
}

.card .container .our-text{
  border-top: 1px solid #EEEEEE;
  display: flex;
  flex-direction: column;
}
.card .card-dev h1{
  color:#3B74BA
}
.card .card-dev p{
  color:#888897;
  font-size: 18px;
  margin-bottom: 25px;
}
.card .our-text p{
  display: flex;
  justify-content: space-between;
  background-color: #F6F6F6;
  padding:15px 5px 15px 5px;
  margin:10px 0 0 0;
}
