/* Star Our Freamwork */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    width: 1070px;
    margin:auto;
}
body{
    background-color: #fff;
}

/* End Our Freamwork */
.bit .list{
    position: absolute;
    top: 0;
    background-color: #0D40C6;
    text-align: center;
    height:800px;
}
.bit .list ul{
    list-style: none;
    padding: 5px;;
    padding-top: 68px;
}
.bit .list ul li i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 10px;
    color: #FFF;
    transition: .3s;
    border-radius:5px;
}
.bit .list ul li i:hover{
    background-color:#1652F0;
    cursor: pointer;
}
.bit .list ul li i.active{
    background-color:#1652F0;
}
.bit .list ul{
    color: #FFF;
}
.bit .logo{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D5DCE6;
}
.bit .logo .icon{
    align-self: center;
}
.bit .logo .icon .text{
    font-size: 18px;
    color: #1652f0;
    font-weight: 600;
}
.bit .logo .icon i{
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #1652F0;
    color: #FFF;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px;
}
.bit .logo .bitcoin{
    display: flex;
}

.bit .logo .bitcoin .blue{
    color: #1652F0;
    background-color: #EEF2FE;
    padding: 5px 20px;
    border: 1px solid #D5DCE6;
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.bit .logo .bitcoin .white{
    color: #1652F0;
    background-color:#FFFFFF;
    padding: 5px 20px;
    border: 1px solid #D5DCE6;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.bit .logo .bitcoin i.fa-user{
    background-color: #1652F0;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 17px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
}
.bit .logo .bitcoin .name{
    margin-left: 10px;
    margin-top: 18px;
}
.bit .logo .bitcoin .fa-chevron-down{
    margin-top: 23px;
    margin-left: 15px;
}

.bit .wel{
    color: #285FF1;
    font-weight: 600;
}
.bit .wel span{
    color: #777;
    font-weight: 400;
}

.section{
    display: flex;
    justify-content:space-between;
    padding: 30px 0;
}
.section button{
    padding: 10px;
    width: 230px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid #D5DCE6;
    transition: .3s;
}
.section button.blue{
    background-color: #1652F0;
    color: #fff;
}
.section button.white{
    background-color: #FFF;
    color: #1652F0;
}
.section button.blue:hover{

    background-color: #FFF;
    color: #1652F0;
}
.section button.white:hover{
    background-color: #1652F0;
    color: #fff;
}
.section .person{
    display: flex;
}
.section .person img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.section .person img.img2{
    order: 3;
}
.section .person .text1{
    margin-top: -20px;
    margin-left: 15px;
}
.section .person .text2 p{
    margin-top: 0;
    margin-left: 90px;
}


.info{
    display: flex;
    justify-content: start;
}
.info .currency{
    display: block;
}
.info .currency form{
    position: relative;
}
.info .currency form input{
    background-color: #F2F6FE;
    border: none;
    padding: 10px 15px 10px 20px;
    margin: 20px auto;
}
.info .currency form label{
    font-weight:600;
}
.info .currency form i.one{
    position: absolute;
    top: 55px;
    left: 210px;
    color: #777;
}
.info .currency form i.two{
    position: absolute;
    top: 155px;
    left: 210px;
    color: #777;
}
.info .currency .month{
    display: flex;
    justify-content: space-between;
}
.info .currency .month div:first-child{
    color: #777;
}
.info .currency button{
    width: 100%;
    background-color: #10D876;
    color: #FFF;
    border: none;
    margin: 30px 0;
    padding: 10px 5px;
    border-radius: 5px;
}
.info .currency .note{
    color: #777;
    margin: 10px 0;
}

.currency-info{
    margin-top: 40px;
    flex-basis: 580px;
}
.currency-info div{
    display: flex;
    justify-content:flex-start;
    background-color: #F2F6FE;
    color: #777;
    margin-left: 35px;
    margin-bottom: 15px;
}
.currency-info div p{
    flex-basis: 135px;
    margin-left: 15px;
}
.currency-info div span{
    margin-left: 90px;
    flex-basis: 300px;
    align-self: center;
}
.currency-info .blue{
    color: #1652f0;
    font-weight: 600;
}
.currency-info .red{
    color: #FE8196;
}