/* Star Our Freamwork */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

:root {
    --mainColor: #F6F6F6;
    --hColor: #5FC6F4;
    --fontweight: bold;

}


/* End Our Freamwork */


/* Start Our Header */

.header .intro{
    border-bottom: 1px dotted #000;
    margin-top: 30px;
}

.header .intro h2{
    display: flex;
    margin-left: 100px;
}

.header .intro ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    cursor: pointer;
    font-weight:var(--fontweight);

}

.header .intro ul li{
    font-size: 19px;
    margin-right: 15px;
    margin-top: -48px;
}

/* End Our Header */
/* Start Our-services */
.services .our-services {
    text-align: center;
    background-color:var(--mainColor);
    padding: 50px;
}
.services .our-services h1 span{
    color:var(--hColor)
}
.services .our-services p{
    font-size: 19px;
    line-height: 1.5;
}
/* End Our-services */
.icons{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.icons .icon {
    display: inline-flex;
    flex-direction:column;
    margin: auto 30px;
}
.icons .icon h3{
    margin-top: 20px;}
.about .about-us{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 40px;
    background-color:var(--mainColor);
    gap: 50px;
}
.about .about-us img{
    width: 50%;
}
.client .clients{
    display: flex;
    justify-content: space-evenly;
    padding: 100px;

}

.client .clients h1{
    font-size: 40px;
}

.client .clients .client1{
    color: #fff;
    background-color: #B33939;
    width: 350px;
    line-height: 30px;
    text-align: center;
    margin-right: -100px;
}


.client .clients .client2{
    color: #fff;
    background-color: #227093;
    width: 350px;
    line-height: 30px;
    text-align: center;
    margin-right: -100px;
}

.client .clients .client3{
    color: #fff;
    background-color: #218C74;
    width: 350px;
    line-height: 40px;
    text-align: center;
    margin-right: -100px;
}
/**/

.skills .progress .technique{
    width: 600px;
    margin-top: -30px
}

.skills .progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.skills .progress .technique p{
    position: relative;
    top: 38px;
    right: 80px;
}
.skills .progress .technique div{
    background-color: #f2f2f2;
    height:40px;
}

.skills .progress .technique div span{
    background-color:#03A9F4;
    height:40px;
    display:block;
    line-height: 40px;
    text-align: right;
    color:#fff;
    font-weight:bold;
}

/**/

.footer footer{
    display: flex;
    justify-content: space-around;
    color:#fff;
    background-color: #333333;
    padding: 10px;
    font-weight:var(--fontweight);
}

.footer footer span{
    color:var(--hColor)
}