/* Star Our Freamwork */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 1170px;
}

/* End Our Freamwork */

.box .container{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    width: 900px;
    height: 395px;
    display: flex;
    flex-wrap: wrap;
}
.box span{
    color:#fff;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    flex-grow: 1;
}
.box span:first-child{
    background-color: #1ABC9C;
    flex-grow: 2;
}
.box span:nth-child(2){
    background-color:#E67E22;
}
.box span:nth-child(3){
    background-color:#27AE60;
}
.box span:nth-child(4){
    background-color:#F39C12;
}
.box span:nth-child(5){
    background-color:#3498DB;
}
.box span:nth-child(6){
    background-color:#8E44AD;
}
.box span:nth-child(7){
    background-color:#2C3E50;
}
.box span:nth-child(8){
    background-color:#C0392B;
}
